.chatpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.chatpage__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatpage__logo {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.chatpage__form {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.chatpage__header__title {
  font-size: 2vh !important;
  color: #f9af1b;
}

.chatpage__form{
  background-color:azure;
}