.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
}

@media (max-width: 1000px) {
  .homepage {
    flex-direction: column;
  }
}
